<div class="container">
    <h1 class="text-center">Add a task</h1>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'form', task: @task %>
      <%= link_to "Back to List", index_path %>
    </div>
  </div>

</div>

